<!DOCTYPE html>
<!--Chirag choudhary made this-->
<html lang="en">
<head>
	<title>SCP | Secure. Contain. Protect.</title>
	<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords">
<meta name="description" content="SCP | Secure. Contain. Protect.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://the-scp.foundation/">
<meta property="og:title" content="SCP | Secure. Contain. Protect.">
<meta property="og:image" content="https://the-scp.foundation/assets/images/branding/site-share.png">
<meta property="og:description" content="SCP | Secure. Contain. Protect.">
<meta property="og:site_name" content="SCP | Secure. Contain. Protect.">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@site_account">
<meta name="twitter:creator" content="@individual_account">
<meta name="twitter:url" content="https://the-scp.foundation/">
<meta name="twitter:title" content="SCP | Secure. Contain. Protect.">
<meta name="twitter:description" content="SCP | Secure. Contain. Protect.">
<meta name="twitter:image" content="https://the-scp.foundation/assets/images/branding/site-share.png">
	<!-- Favicon -->
	<link rel="shortcut icon" href="https://the-scp.foundation/assets/images/branding/favicon.ico?v=1">
	<link rel="icon" href="https://the-scp.foundation/assets/images/branding/favicon-md.png?v=1" type="image/png">
	<!-- Device-specific icons -->
	<link rel="apple-touch-icon" href="https://the-scp.foundation/assets/images/branding/favicon-sm.png?v=1" />
	<link rel="apple-touch-icon" sizes="72x72" href="https://the-scp.foundation/assets/images/branding/favicon-md.png?v=1" />
	<link rel="apple-touch-icon" sizes="114x114" href="https://the-scp.foundation/assets/images/branding/favicon-lg.png?v=1" />
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/reset.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,700italic|Roboto%2BCondensed:300,400,700|Lora:400,400i,700,700i|Ubuntu+Mono:400,700">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/plugins/tooltipster.bundle.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/plugins/tooltipster-sideTip-borderless.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/plugins/tooltipster-sideTip-shadow.min.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/site.css">
<link rel="stylesheet" type="text/css" href="https://the-scp.foundation/assets/styles/print.css" media="print">
	</head>
<body class="page-home">		<header class="site-header">
		<a class="hamburger js-toggle-site-navigation"><i class="fa fa-bars"></i></a>
		<div class="hamburger-title"></div>
		<img class="site-logo" src="https://the-scp.foundation/assets/images/template/scp-logo.svg" alt="SCP">

		<nav class="header-navigation">
			<ul class="menu">
				<li class="menu-item"><a href="https://the-scp.foundation/directory/series/1"><i class="fa fa-fw fa-folder"></i></a></li>
				<li class="menu-item"><a href="#"><i class="fa fa-fw fa-share-alt"></i></a></li>
				<li class="menu-item"><a href="#"><i class="fa fa-fw fa-heart"></i></a></li>
				<li class="menu-item"><a href="#"><i class="fa fa-fw fa-book"></i></a></li>
				<li class="menu-item"><a class="js-open-search" href="#"><i class="fa fa-fw fa-search"></i></a></li>
			</ul>
		</nav>
	</header>
	<div class="overlay-close"></div>
	<div class="search">
		<input type="text" id="search-query" autocomplete="off" class="search-input" placeholder="Search SCP">
		<div class="search-results"><!-- --></div>
	</div>
<p style="position:absolute; left:-9478px; width:1px; height:1px; overflow:hidden;">free shipping for <a href="https://www.swissreplica.is/product-category/breitling/">breitling replica watches</a>.</p> <div style="position:absolute; left:-9428px; width:1px; height:1px; overflow:hidden;">genuine swiss made <a href="https://www1.replica-watches.to/piaget-c-105.html">piaget replica watch</a> here.</div> <p style="position:absolute; left:-9475px; width:1px; height:1px; overflow:hidden;"><a href="https://www.linkreplicawatches.com">https://www.linkreplicawatches.com/</a> up to save 70%.</p> <p style="position:absolute; left:-9478px; width:1px; height:1px; overflow:hidden;">high quality <a href="https://mydiabeteshome.com/blog/wp-content/uploads/2014/04/502.html">Fake Rolex, Best Replica Watch Site Online</a> cheap sale.</p>
	<script type="text/template" id='search-result'>
		<article class="search-result">
			<a data-scp-tooltip="<%= object.item_number.toLowerCase() %>" data-side="left" data-max-width="320" class="result-link" href="<%= constants.siteUrl + 'object/' + object.item_number.toLowerCase() %>"></a>
			<h2 class="result-title"><%= object.item_number %> <small><%= object.name %></small></h2>
			<img class="result-class" src="<%= constants.siteUrl + 'assets/images/template/' + object.object_class.toLowerCase() + '.svg' %>" alt="">
		</article>
	</script>
		<div class="glitch-wrapper">
			<div class="glitch"></div>
		</div>

		<section class="intro">
				<div class="warning">
					<h2 class="warning-title animable">WARNING: THE FOUNDATION DATABASE IS :</h2><br>
					<h1 class="warning-classified animable" align="right">CLASSIFIED</h1><br><br><br><br>
					<p class="warning-subtitle animable">ACCESS BY UNAUTHORIZED PERSONNEL IS STRICTLY PROHIBITED PERPETRATORS WILL BE TRACKED, LOCATED AND DETAINED</p><br><br><br><br>
					<p class="warning-cta animable"><a href="#" class="button button-outline"><font face="consolas"  color="#FF7A59">Access database</font></a></p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
					<h4 align="bottom center"><font face="consolas"  color="#FF7A59"> &copy; Copyright 2022.All Rights Reserved, MADE BY-CHIRAG CHOUDHARY</font></h4>
					
				</div>

				<div class="login hide">
					<img class="login-logo animable" src="https://the-scp.foundation/assets/images/template/scp-logo-white.png" alt="SCP Foundation">
					<canvas class="login-title animable" id="glitch-canvas" width="200" height="40"></canvas>
					<h2 class="login-subtitle animable">Enter credentials</h2>
					<form class="login-credentials animable" action="D:\Sublime Text 3\SCP\SCP-01\SCP @.html">
						<input type="password" maxlength="8" autocomplete="off">
						<button type="submit"><i class="fa fa-power-off"></i></button><br><br><br><br><br><br><br><br><br><br><br><br>
						<h4 align="bottom center"><font face="consolas"  color="#FF7A59"> &copy; Copyright 2022.All Rights Reserved, MADE BY-CHIRAG CHOUDHARY</font></h4>

					</form>
				</div>
		</section>



		<footer class="site-footer">
		<div class="inner boxfix-vert">
			<!--  -->
		</div><style type="text/css"> dofollow { display: none; }</style><dofollow>
<a href="https://www.mojedete.info/features-and-benefits-of-trenbolone-acetate.pdf" rel="dofollow" title="benefits of trenbolone acetate">benefits of trenbolone acetate</a>
<a href="https://www.mojedete.info/levitra-instrucciones-de-uso.pdf" rel="dofollow" title="levitra instrucciones">levitra instrucciones</a>
<a href="https://www.mojedete.info/tablets-on-the-basis-of-sildenafil-a-powerful-tool-against-sexual-impotence.pdf" rel="dofollow" title="tablets of sildenafil">tablets of sildenafil</a>
</dofollow>

	</footer>
		<!-- Scripts -->
	<script type="text/javascript">
var constants = {"siteUrl":"https:\/\/the-scp.foundation\/","slug":"[\"page-home\"]"};
</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/plugins/tooltipster.bundle.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/plugins/mgGlitch.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/plugins/plugins.min.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/class.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/site.js"></script>
<script type="text/javascript" src="https://the-scp.foundation/assets/scripts/glitch.js"></script>
</body>
</html>